.navbar-brand {
   font-family: 'Montserrat';
   font-size: 30px;
   font-weight: 600;
}

.nav-item {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}
.nav-item .nav-link.active{
    font-weight: 500;
    color: #0ba725 !important;
}
.nav-link:hover {
    color: #0ba725 !important;;
}
/* Hero section */
.hero-section h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 55px;
}
.hero-section p {
    font-family: 'poppins';
    font-weight: 200;
    font-size: 25;
}

.section-title{
    border-bottom: 3px solid hsl(118, 87%, 24%);
    width: 8%;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
/*Tutup Hero Section */

/* categories */
.tag{
    z-index: 3;
    background-color: rgb(85, 231, 17);
    padding: 0.25rem 1.25rem;
    position: absolute;
    bottom: 0;
    left: 15px;
    border-radius: 0px 20px;
    min-height: 30px;
}

.component-categories{
    margin-bottom: 32px;
}
.tag span{
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #171938;
}
.categories-thumbnail {
    width: 100%;
    height: 462px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.categories-thumbnail-small{
    width: 100%;
    height: 215px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.categories-thumbnail:hover .categories-img {
    transform: scale(1.1);
}

.categories-thumbnail-small:hover .categories-img {
    transform: scale(1.1);
}

.categories-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0,3s ease;
}
   
    /* popular product */
.popular-products{
    background: rgba(23, 25, 56, 0.06);
    padding-top: 50px;
    padding-bottom: 36px;
}

.component-products{
    margin-top: 50px;
    margin-bottom: 36px;
    background: #0df352;
    border-radius: 8px;
    border: black;
    padding-bottom: 15px;

    transition: all 0.2s ease-in-out;
}

.component-products:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.products-img{
    padding: 0.5rem;
    background: #77e4a8;
    border-radius: 8px 8px;

    transition: all 0.3s ease;
}

.products-text{
    font-family: poppins;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #171938;
}

.products-price{
    font-family: poppins;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: hsl(180, 2%, 8%);
}
/* tutup popular product */

.footer-small{
    background-color: #51515c;
    text-align: center;
}

.footer-small p{
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    color: white;

    margin-top: 30px;
}

.footer-small a{
    font-weight: 500;
    font-size: 16px;
    color: #40fc3a;
    text-decoration: none;
}
